/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  align-text: center;
}

/* Set the font family for any h1, h2, or h3 heading */
/* used heading h4 for contact information */
h1 {
  text-align: center;
}
nav
{
  text-align: center;
}
h2 {
  font-size: 25px;
  text-align: center;
}
h3 {
  font-family: "Playfair Display", Times, serif;
  font-size: 15px;
}
h4{
  font-size: 12px;
  text-align: center;
}

article {
  padding: 30px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.0;
  font-size: 20;
  text-align: left;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
    border-radius: 50%; 
  border: 2px;
  border-style: solid;
    border-color: #003049;
  margin: auto;
}
ul
{
  list-style-position: inside;
  text-align: left;
}
ol:nth-of-type(2) {
 list-style-position: inside;
  padding: 0;
}

footer{
text-align: center;
}

/* can add rest of anchor links if needed */
a:link    { color: #d62828;  }
a:hover   { color: #f77f00; }

